h2 {
    text-align:center;
    }
h3 {
    color:crimson;
    background-color: bisque;
    border:2px solid brown;
    margin:20px;
    padding:5px;
}
a:link,:visited{
    color:brown;
    background-color: rgb(43, 226, 49);
    padding: 15px,25px;
    text-align: right;
    text-decoration: none;
}

